<!DOCTYPE html>
<html lang="en" class="h-full">
  <head>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      {{title}}
    </title>
    {% if description %}
      <meta name="description" content="{{description}}"/>
    {% endif %}
    {% block head %}{% endblock %}
    <link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
    {% if prism == true %}
      <link rel="stylesheet" type="text/css" href="/static/css/prism-tomorrow.css">
    {% endif %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap" rel="stylesheet">
  </head>
  <body class="h-full">
    {% if path != "home" %}
      {% include "./partials/navbar.html" %}
    {% endif %}

    {{ content | safe }}

    {% if path != "home" %}
      {% include "./partials/footer.html" %}
    {% endif %}

    <script src="/static/js/alpine.js"></script>

    {% if path == "home" %}
      <img class="hidden" src="/static/img/bluetick-bg-3950-2800-low-q.jpeg">
      <script src="https://cdnjs.cloudflare.com/ajax/libs/pixi.js/4.8.2/pixi.min.js"></script>
      <script type="text/javascript" src="/static/js/ripple.js"></script>

      <!-- Netlify Identity Widget -->
      <!-- Needed only if you are using Netlify Identity feature -->
      <!--script type="text/javascript" src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script-->
    {% endif %}

  </body>
</html>
