---
title: About
description: About the blue tick project + all the music I've made or helped produce
layout: default
---

<div class="container max-w-3xl px-6">
  <article class="prose lg:prose-xl my-8 mx-auto">
    <p><em>blue tick</em> is an electronic pop music project by producer and classically-trained instrumentalist Matthew Zhu.</p>

    <p>The <em>blue tick</em> represented absolutely nothing until the early 2010s when it became a symbol of endorsement and influence online, and then it
      <a href="https://arstechnica.com/information-technology/2016/07/twitter-account-verification-abuse-free-milo/">meant</a>
      <a href="https://www.npr.org/2020/11/24/938298058/twitter-to-accept-blue-check-mark-requests-in-2021-following-3-year-hiatus">absolutely</a>
      <a href="https://www.sfgate.com/sf-culture/article/Blue-Check-Homes-SF-artist-prank-verified-Twitter-15918854.php">everything.</a>
    </p>

    <p>Co-opting the idea upfront is just old becoming new again, and new becoming old again.</p>

    <a href="mailto:blueticksoundofficial@gmail.com">blueticksoundofficial@gmail.com</a>

    <h1>Discography</h1>
    <div class="grid grid-cols-5 gap-6">
    {% for name, data in projects.projects %}
      <div class="text-right">
        <time>
          {{ data.time }}
        </time>
      </div>
      <div class="col-span-4">
        {% if data.url %}<a href="{{ data.url | url }}">{{ name }}</a>
        {% else %}<span>{{ name }}</span>
        {% endif %}

        <div>{{ data.description }}</div>

        {% if data.urls %}
        <ul>
        {% for subheading, subUrl in data.urls %}
          <li><a href="{{ subUrl | url }}">{{ subheading }}</a></li>
        {% endfor %}
        </ul>
        {% endif %}
      </div>
    {% endfor %}
    </div>
  </article>
</div>





</section>
